.learning {
    /* background-color: #f0f8ff; */
}

.learningContainer {
    /* background-color: #fff0f5; */
    padding: 2rem;
}

.headingBody {
    /* background-color: #f5f5dc; */
}

.headingBlock {
    /* background-color: var(--secondaryColor); */
}

.headingBox {
    /* background-color: #d8bfd8; */
    width: 100%;
    height: auto;
}

.headingBox h1 {
    /* background-color: #ffb6c1; */
    padding: 1rem 0rem;
}

.learningBody {
    /* background-color: #ffe4e1; */
    gap: 3rem;
}

.learningBlock {
    /* background-color: #e0ffe0; */
    padding: 3rem 0rem;
}

.learningBox {
    background-color: var(--tertiaryColor);
    width: 100%;
    height: 100%;
    border: var(--lightColor) solid 0.25rem;
    padding: 2rem 2rem;
    /* Peach Puff Tint */
}

.cardHeader {
    background-color: var(--lightColor);
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 1rem;
    margin-bottom: 1rem;
}

.cardHeader h2 {
    /* background-color: #98fb98; */
    width: 100%;
    height: 100%;
}

.cardMain {
    /* background-color: #f08080; */
    
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.cardMain p {
    /* background-color: #afeeee; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardMain button{
    /* background-color: #c799f3; */
}
