@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color:var(--lightColor);
    font-family: "EB Garamond", serif;
    line-height: 1.5;
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0rem;
    -webkit-font-smoothing: antialiased;
    font-optical-sizing: auto;
    text-align: center;
}

h1 {
    text-wrap: balance;
    font-family: var(--ffprimary);
    color: var(--darkColor);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

h3{
    font-family: var(--ffprimary);
    color: var(--darkColor);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1rem;
    padding-bottom: 3rem;
}

p {
    background-color: var(--darkColor);
    font-family: var(--ffsecondary);
    color: var(--lightColor);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    border: var(--lightColor) solid 0.1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

input{
    font-family: inherit;
    font-family: var(--ffsecondary);
    color: var(--darkColor);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    border: none;
    width: 100%;
    height: auto;
    text-align: start;
    padding: 0.5rem 1.5rem;
}
button {
    background-color: var(--secondaryColor);
    font-family: var(--ffsecondary);
    color: var(--lightColor);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    border: none;
    margin: 2rem 0rem;
    padding: 0.25rem 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondaryColor);
    color: var(--darkColor);
    transition: background-color 0.3s ease;
}
.home-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
    background-color: var(--secondaryColor);
    font-family: var(--ffsecondary);
    color: var(--lightColor);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    border: none;
    margin: 2rem 0rem;
    padding: 0.25rem 1rem;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: var(--secondaryColor);
    color: var(--darkColor);
    transition: background-color 0.3s ease;
}

.lenBody{
    margin: 2rem 1rem;
}
.lenBlock{
    background-color: var(--tertiaryColor);
    padding: 2rem;
    border-radius: 1rem;
}
:root {
    --primaryColor: #f9cb40;
    --secondaryColor: #ff715b;
    --tertiaryColor: #4c5b5c;
    --darkColor: #000000;
    --lightColor: #ffffff;
    --regularFont: 1.6rem;
    --headingFont: 4rem;
    --ffPrimary: "EB Garamond", serif;
    --ffSecondary: "Montserrat", sans-serif;
    --border: 1px solid var(--tertiaryColor);
    --borderRadius: 0.5rem;
}


.componentSpacing {
    padding: 3rem 0rem;
    /* Breathing Space Between Components */
}

.screenSize {
    max-width: 1200px;
    /* Device Screen Size */
    margin: auto;
    /* Left and right Center */
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0rem 2rem;
}
.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}

.dflex {
    display: flex;
    /* without this wont work */
    align-items: center;
    /* top & bottom Alignment */
    justify-content: center;
    /* left & right Alignment */
}

.dflex-col {
    display: flex;
    flex-direction: column;
    /* makes top to bottom align */
    align-items: center;
    /* Behaves like a justify-content */
    justify-content: center;
    /* Behaves like a align-items */
    text-align: center;
}

main {
    /* background-color: #ffbf00; */
    width: 100%;
    height: auto;
}

/* @media (width <=576px) */
@media (max-width: 360px) {
    .grid-1 {
      grid-template-columns: 1fr;
      padding: 0rem 1rem;
    }
    .grid-3 {
        grid-template-columns: 1fr;
        padding: 0rem 1rem;
      }
  }

