@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--tertiaryColor);
    font-family: "EB Garamond", serif;
    line-height: 1.5;
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0rem;
    -webkit-font-smoothing: antialiased;
    font-optical-sizing: auto;
}

h1 {
    background-color: var(--darkColor);
    text-wrap: balance;
    font-family: var(--ffprimary);
    color: var(--lightColor);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1rem;
    padding: 1.5rem;
    width: 100%;
}

h3 {
    background-color: var(--darkColor);
    font-family: var(--ffprimary);
    color: var(--primaryColor);
    color: var(--lightColor);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1rem;
    padding: 1rem;
    width: 100%;
}

p {
    font-family: var(--ffsecondary);
    color: var(--darkColor);
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.1rem;
}

form {
    background-color: var(--secondaryColor);
    padding: 2rem;
    border: var(--lightColor) solid 0.2rem;
}

.formGrp {
    /* background-color: #bfdbfe; */
    gap: 1rem;
    padding: 1rem 0rem;
    width: 100%;
    height: auto;
}

input,
textarea,
label,
option,
select {
    font-family: inherit;
    font-family: var(--ffsecondary);
    color: var(--darkColor);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
    height: auto;
}

input {
    background-color: var(--lightColor);
}

button {
    background-color: var(--primaryColor);
    font-family: var(--ffsecondary);
    color: var(--lightColor);
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    border: none;
    padding: 0.25rem 1rem;
    margin: 1rem 0rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--darkColor);
    color: var(--lightColor);
    transition: background-color 0.3s ease;
}

:root {
    --primaryColor: #657C6A;
    --secondaryColor: #BB3E00;
    --tertiaryColor: #F7AD45;
    --darkColor: #000000;
    --lightColor: #ffffff;
    --regularFont: 1.6rem;
    --headingFont: 4rem;
    --ffPrimary: "EB Garamond", serif;
    --ffSecondary: "Montserrat", sans-serif;
    --border: 1px solid var(--tertiaryColor);
    --borderRadius: 0.5rem;
}


.componentSpacing {
    padding: 3rem 0rem;
    /* Breathing Space Between Components */
}

.screenSize {
    max-width: 1200px;
    /* Device Screen Size */
    margin: auto;
    /* Left and right Center */
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0rem 2rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 2rem;
    gap: 2rem;
}

.dflex {
    display: flex;
    /* without this wont work */
    align-items: center;
    /* top & bottom Alignment */
    justify-content: center;
    /* left & right Alignment */
    text-align: center;
}

.dflex-col {
    display: flex;
    flex-direction: column;
    /* makes top to bottom align */
    align-items: center;
    /* Behaves like a justify-content */
    justify-content: center;
    /* Behaves like a align-items */
    text-align: center;
}

main {
    /* background-color: #ffbf00; */
    width: 100%;
    height: auto;
}

/* @media (width <=576px) */
@media (max-width: 360px) {
    body {
        /* background-color: #000000; */
    }

    .grid-1,
    .grid-2 {
        grid-template-columns: 1fr;
        padding: 0rem 1rem;
    }
    form {
        background-color: var(--secondaryColor);
        padding: 1rem;
        border: var(--lightColor) solid 0.2rem;
    }

    input,
    textarea,
    label,
    option,
    select {
        font-size: 1.75rem;
        padding: 0.5rem 1rem;
    }

    input {
        background-color: var(--lightColor);
    }

    button {
        background-color: var(--primaryColor);
        font-family: var(--ffsecondary);
        color: var(--lightColor);
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.1rem;
        border: none;
        padding: 0.25rem 2rem;
        margin: 1rem 0rem;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: var(--darkColor);
        color: var(--lightColor);
        transition: background-color 0.3s ease;
    }

}